# Section 1
## Introduction to python

#### Intro. to Python:
#####       1. Python is a popular programming language.
#####       2. Python has a simple syntax similar to the English language.
#####      3. It is an interpreted language which is a programming language whose implementations execute instructions directly and freely, without previously compiling a program into machine-language instructions.
#####    4. Interpreted languages tend to be more flexible

## IDEs:
###### An integrated development environment (IDE) is software for building applications that combines common developer tools into a single graphical user interface (GUI).

# Installation:
1. you can download IDE as PyCharm <a href="https://www.jetbrains.com/pycharm/download/" target="_top">from here</a>
2. Download Anaconda <a href="https://www.anaconda.com/products/individual" target="_top">from here</a>

#### Arithmetic Operators:
##### 2. The operators +, -, *, and / perform addition, subtraction, multiplication, and division.
##### 1.  The operator ** performs exponentiation; that is, it raises a number to a power:

In [26]:
print(24/2)
print(2**3)

############################3

print(2 ** 3 ** 2)     # the right-most ** operator gets done first! == 2^(3^(2))=512
print((2 ** 3) ** 2)   # use parentheses to force the order you want!== ((2^3)^2)=64

12.0
8
512
64

#### Order of operations
##### 1. Parentheses have the highest precedence and can be used to force an expression to evaluate in the order you want.
##### 2. Exponentiation has the next highest precedence.
##### 3. Multiplication and Division have higher precedence than Addition and Subtraction.
#### Note: Operators with the same precedence are evaluated from left to right.

#### Some of the main Python Data Types
##### 1. Text Type:	str
##### 2. Numeric Types:	int, float, complex
##### 3. Sequence Types:	list, tuple
##### 4. Mapping Type:	dict
##### 5. Boolean Type:	bool

In [27]:
x = "Hello World"
#display x:
print(x)

#display the data type of x:
print(type(x))

Hello World
<class 'str'>

In [28]:
y = 20
print(y)
print(type(y))

20
<class 'int'>

In [29]:
L = ["apple", "banana", "cherry"]
print(L)
print(type(L))

['apple', 'banana', 'cherry']
<class 'list'>

In [30]:
thistuple = ("apple", "banana", "cherry","strawberry",4)
print(len(thistuple))
print(type(thistuple))

5
<class 'tuple'>

In [31]:
Dic = {"name" : "John", "age" : 36}
print(Dic)
print(type(Dic))

{'name': 'John', 'age': 36}
<class 'dict'>

In [32]:
Bool = True
print(Bool)
print(type(Bool))

True
<class 'bool'>

#### List vs Tuple vs Dictionary
#### 1. List is a collection which is ordered and changeable. Allows duplicate members.
#### 2. Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#### 3. Dictionary is a collection which is unordered and changeable. No duplicate members.

### Conditions, True and False
#### 1.equals (represented by ==)
#### 2.greater and less than (represented by > and <)
#### 3.greater and less than or equal to (represented by >= and <=)
#### 4.not equal (represented by !=)
#### 5.is a value in a list (represented by in)

In [33]:
print(3 == 5)
print(3 > 5)
print(3 <=5)
print(len(L) > 5)
print("apple" in thistuple)

False
False
True
False
True

#### If Statements
##### The simplest kind of conditional statement is an if statement.

In [35]:
a = 200
b = 33
if b > a:
    print("b is greater than a")
elif a == b: # if b not bigger than a then try what is in elif 
    print("a and b are equal")
else: # The else keyword catches anything which isn't caught by the preceding conditions.
    print("a is greater than b")
# Note That Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

a is greater than b

# Loops:
##### 1. While
##### 2. for loops

### The while Loop
###### With the while loop we can execute a set of statements as long as a condition is true.

In [36]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [37]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue # With the continue statement we can stop the current iteration, and continue with the next
  print(i)

1
2
4
5
6

In [38]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break # With the break statement we can stop the loop even if the while condition is true:
  i += 1

1
2
3

In [39]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

### For Loops
###### A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).This is less like the for keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages. With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [40]:
fruits = [300, 400,500,600,700,800,900,1000]
for fr in fruits:
    print(fr)
    if fr==800:
        continue
    if fr == 900:
        break
#### Looping over a range of numbers
print('Looping over a range of numbers')
for x in range(6):
    print(x)

300
400
500
600
700
800
900
Looping over a range of numbers
0
1
2
3
4
5


##### The range() function defaults to 0 as a starting value, however it is possible to specify the starting value by adding a parameter: range(2, 6), which means values from 2 to 6 (but not including 6):
##### The range() function defaults to increment the sequence by 1, however it is possible to specify the increment value by adding a third parameter: range(2, 30, 3):

In [41]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [42]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [43]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

## Nested Loops
##### A nested loop is a loop inside a loop.The "inner loop" will be executed one time for each iteration of the "outer loop":

In [44]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

# Functions

#### Pre-defined Functions
##### Example:
##### 1. abs()
##### 2. print()
##### 3. type()
##### 4. sum()

In [45]:
absolute=abs(-7.88)
print("Absolute of(-7.88): ",absolute)
a=(1,4,20)
print('Summation: ',sum(a))

Absolute of(-7.88):  7.88
Summation:  25

The above are few examples from predefined functions you can learn more about <a href="https://www.w3schools.com/python/python_ref_functions.asp" target="_top">this link</a>

In [46]:
# Using builtin modules
import math
print(math.sqrt(2))

1.4142135623730951

### Define Functions in the same File

In [47]:
def my_function(fname, lname):
    print(fname + " " + lname)

In [48]:
# Calling the Function
my_function("Emilia","Williams")
# You can also send arguments with the key = value syntax.
my_function(fname="Ahmed",lname="Hussein")

Emilia Williams
Ahmed Hussein

#### If the number of arguments is unknown, add a * before the parameter name:

In [49]:
def my_function_2(*kids):
    print("The youngest child is " + kids[2])

my_function_2("Ahmed", "Hussein", "Abbas")

The youngest child is Abbas

#### If the number of keyword arguments is unknown, add a double ** before the parameter name:

In [50]:
def my_function_3(**kid):
    print("His last name is " + kid["lname"])

my_function_3(fname = "Tobias", lname = "Refsnes")

His last name is Refsnes

### Functions With return type

In [53]:
def my_function_with_return(x):
    return 5 * x
ret=my_function_with_return(2)
print('result from my_function_with_return=',ret)

result from my_function_with_return= 10

# Deep dive into Lists

#### List
##### 1. The list is a sequence of values. the values can be any type.
##### 2. The values in a list are called elements or sometimes items.
##### 5. Access a specific element by its index. Remember that the indices start at 0.

In [54]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
numbers = [42, 123]
mix = ['spam', 2.0, 5, [10, 20]]
empty = []
print(cheeses, numbers,mix, empty)

['Cheddar', 'Edam', 'Gouda'] [42, 123] ['spam', 2.0, 5, [10, 20]] []

In [55]:
print(cheeses[0])

Cheddar

In [56]:
print(numbers)
numbers[1] = 10
print(numbers)

[42, 123]
[42, 10]

In [57]:
cheeses = ['Cheddar', 'Edam', 'Gouda']
print('Edam' in cheeses)
print('Brie' in cheeses)

True
False

In [58]:
organism = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print(organism[0])
print(organism[-1])
specific_index = organism.index("Pan troglodytes")
print('Index of Pan: ',specific_index)
ranks = ["kingdom","phylum", "class", "order", "family"]
lower_ranks = ranks[2:5]
print(lower_ranks)

Homo sapiens
Gorilla gorilla
Index of Pan:  1
['class', 'order', 'family']

In [59]:
# To add another element onto the end of an existing list, we can use the append() function.
organism = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
organism.append("Pan paniscus")
organism

['Homo sapiens', 'Pan troglodytes', 'Gorilla gorilla', 'Pan paniscus']

In [60]:
# We can get the length of a list by using the len() function
organism = ["Homo sapiens", "Pan troglodytes", "Gorilla gorilla"]
print("There are " + str(len(organism)) + " organisms")
organism.append("Pan paniscus")
print("Now there are " + str(len(organism)) + " organisms")

There are 3 organisms
Now there are 4 organisms

In [61]:
# We can concatenate two lists
apes = ["Pan troglodytes", "Gorilla gorilla"]
monkeys = ["Papio ursinus", "Macaca mulatta"]
primates = apes + monkeys
print(str(len(apes)) + " apes")
print(str(len(monkeys)) + " monkeys")
print(str(len(primates)) + " primates")

2 apes
2 monkeys
4 primates

##### Here are two more list functions that change the order of the list: reverse() and sort().
##### Both reverse() and sort() work by changing the order of the elements in the list.

In [62]:
stringsList = ["Banana","Coconut", "Apple", "Tomato", "Strawberry"]
print("at the start : " + str(stringsList))
stringsList.reverse()
print("after reversing : " + str(stringsList))
stringsList.sort()
print("after sorting : " + str(stringsList))

at the start : ['Banana', 'Coconut', 'Apple', 'Tomato', 'Strawberry']
after reversing : ['Strawberry', 'Tomato', 'Apple', 'Coconut', 'Banana']
after sorting : ['Apple', 'Banana', 'Coconut', 'Strawberry', 'Tomato']